@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 320px 1fr;
    font-family: 'Nanum Gothic', sans-serif;
    transform : rotate(0.04deg);
    max-width: 100%;
}

header {
    position: fixed;
}

header > img {
    height: 540px;
}


ul {
    list-style: none;
}

li {
    color: gray;
}

li:hover {
    background-color: gray;
}

b {
    font-weight: bold;
}

.nav {
    position: sticky;
    margin-top: 540px;
    background: #eee;
    height: 100%;
}

.nav ul {
    bottom: 0;
    left: 0;
    top: 0;
}

.nav li {
    border-top: 1px solid #ddd;
    padding: 1em;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.content {
    display: grid;
    margin-top: 540px;
}

.nc {
    max-width: 100%;
}

.shot {
    display: inline-block;
    width: 200px;
    margin: 5px;
    border: 1px solid;
}

.geul {
    text-decoration: none;
}
.geul:hover, .geul:active, .geul:focus {
    text-decoration: underline;
}

.post li a {
    display: block;
}

.post li a strong {
    display: block;
    padding: 8px 0 4px;
    color: #333;
    font-weight: bold;
    line-height: 1.4;
}

.post li a a:hover {
    text-decoration: none;
}

.post li a .thumb {
    position: relative;
    display: block;
    background-color: #ccc;
    height: 0px;
    color: #666;
    text-align: center;
    line-height: 120px;
}

.post li a .thumb em {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 120px;
}

.post li a:hover .thumb em {
    display: block;
}

.post li p {
    color: gray;
    font-size: .9em;
}

.post li {
    margin-bottom: -1px;
    border-bottom: 1px solid #aaa;
}

#home {
    padding: 50px;
    font-weight: bold;
    font-size: 100px;
}


